@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(md.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


/* elearning helper css */

html {
    font-size: 14.5px !important;
}
body {
    font-family: sans-serif;
    -moz-text-size-adjust: none; 
    -webkit-text-size-adjust: none; 
    -ms-text-size-adjust: none;
    background-color: white;
    overflow: hidden;
}

ul {
    margin: 3px 0px;
    padding-left: 20px;
}
ul li {
    list-style: disc;
}




.eh_xul_popupmenu {
}

.eh_full_w {
    width: 100%;
}


.eh_scroll_none {
    overflow: hidden;
}


/* up-down scrollable */
.eh_scroll_ud {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* key-value classes */
.eh_kvdiv {
}
.eh_key {
    font-weight: bold;
}
.eh_value {
    font-weight: normal;
}

/* status list */
.eh_statuslist {
}
.eh_statuslist_firsthalf {
}
.eh_statuslist_secondhalf {
}
.eh_statuslist_additional {
}
.eh_statuslist_item {
}


/* fake link */
.eh_link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.eh_link2 {
    text-decoration: underline;
    color: navy;
    cursor: pointer;
}
.eh_link3 {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


.eh_add_margin_to_child_span span {
    margin-right: 10px;
}





.eh_flexbox_fill_remaining_wrapper_ud {
    flex: 1 1 auto;
    height: 0px;
}

.eh_flexbox_fill_remaining_wrapper_lr {
    flex: 1 1 auto;
    width: 0px;
}









.eh_page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.eh_page_content {
    height: 100%;
    display: flex;
    flex-flow: row;
}

.eh_page_column {
    flex: 0 1 auto;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.eh_page_main {
    height: 100%;
}








.eh_coursetable {
}

.eh_coursetable th {
    font-size: 15px;
    text-align: center;
    
    border-radius: 0px;
    
	background-color: #aed581;
	height: 22px;
	overflow: hidden;
	padding: 0px;
}
.eh_coursetable th:nth-child(1) {
    background-color: transparent;
    width: 30px;
}


.eh_coursetable td {
    font-size: 15px;
    text-align: center;
    
    border-radius: 0px;
    
	background-color: #dcedc8;
	overflow: hidden;
	padding: 0px;
}


.eh_coursetable tr:nth-child(n+7):nth-child(-n+11) td:nth-child(n+1) {
    /* color blender: http://meyerweb.com/eric/tools/color-blend */
    /* 6-10 */
    background-color: #CDE5B2;
}
.eh_coursetable tr:nth-child(n+7):nth-child(-n+11) td:nth-child(1) {
    background-color: #8BC34A;
}

.eh_coursetable td:nth-child(1) {
    background-color: #aed581;
}


.eh_coursetable table {
	text-align: center;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	height: 100%;
	width: 100%;
}

.eh_coursetable div {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #689f38;
    overflow: hidden;
}

.eh_coursetable .eh_selected {
    background-color: #aed581;
}

.eh_coursetable .eh_selected_sub {
    background-color: rgb(220, 237, 200);
}

.eh_coursetable span {
    flex: 0 1 auto;
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-weight: bold;
}

















/*.eh_filetable th {
    font-size: 15px;
    text-align: left;
    border-radius: 0px;
	background-color: #aed581;
	height: 22px;
	overflow: hidden;
	padding: 0px 4px;
}
.eh_filetable th:nth-child(1) {
    background-color: transparent;
    width: 30px;
}*/
.eh_filetable td:nth-child(1) {
    width: 30px;
}
.eh_filetable td:nth-child(3) {
    width: 180px;
}
.eh_filetable td {
    font-size: 15px;
    text-align: left;
    border-radius: 0px;
	overflow: hidden;
	padding: 0px 4px;
}
.eh_filetable tr {
    background-color: #dcedc8;
    cursor: pointer;
}
.eh_filetable tr:hover {
	background-color: #CDE5B2;
}
.eh_filetable .eh_selected {
    background-color: #aed581 !important;
}

.eh_filetable table {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	text-align: left;
}





















.eh_header {
    margin: 0px;
    height: 60px;
    flex: 0 1 auto;
}

.eh_header_content {
    display: -moz-box;
    -moz-box-align: center;
    height: 100%;
    width: 100%;
    font-size: 28;
}

.eh_header_backbtn {
    margin-left: 15px;
    width: 40px;
}

.eh_header_title {
    margin-left: 15px;
}

.eh_header_actionbox {
    display: block;
    font-size: 14.5px;
    margin-right: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.eh_header_actionbox span {
    cursor: pointer;
}
.eh_header_actionbox span:hover {
    text-decoration: underline;
}









.eh_sidebar {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.eh_sidebar_title {
    padding: 1px 5px;
    font-size: 15;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}



.eh_toolbar {
    padding: 8px 6px;
}

.eh_toolbar_button {
    width: 35px;
    height: 35px;
    margin: 3px 3px;
    padding: 0px;
}

.eh_toolbar_button_small {
    width: 28px;
    height: 28px;
    margin: 2px 3px;
    padding: 0px;
    line-height: 28px;
}

.eh_toolbar_button_small_text {
    height: 28px;
    margin: 2px 3px;
    padding: 0px 8px;
    line-height: 28px;
}


.eh_colorbox {
    float: left;
    width: 29px;
    height: 29px;
    padding: 6px;
    border: 1px solid;
}

.eh_colorbox_sample {
    background-color: black;
    width: 15px;
    height: 15px;
}


.eh_thicknessbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 50%;
    height: 29px;
    padding: 6px;
    border: 1px solid;
}

.eh_thicknessbox_sample {
    background-color: black;
    width: 100%;
}


.eh_notebox {
    outline: 0px solid transparent;
    height: 100%;
    width: 100%;
    border-style: none;
    resize: none;
    word-wrap: break-word;
}

.eh_notebox:empty::before {
    content: attr(data-placeholder);
    color: #555; 
}

.eh_notebox:empty:focus::before {
    content: "\00A0";
}



#textcolor_dropdown {
    min-width: 39px;
    padding: 2px;
    text-align: center;
    overflow: hidden;
}
#textcolor_dropdown li {
    width: 25px;
    min-height: 0px;
    margin: 5px;
    padding: 0px;
}
#textcolor_dropdown a {
    width: 25px;
    height: 25px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}



.eh_pdf_list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eh_pdf_list_item {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    padding-left: 0px;
}

.eh_pdf_list_item span {
    padding: 8px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
}

.eh_pdf_list_item canvas {
    border: 1px solid black;
    width: 100%;
}

.eh_pdf_list_item.eh_selected {
    background-color: #FFEE58;
}

.eh_formlabel {
    font-size: 16px !important;
    color: black !important;
}
.eh_textinput:focus {
	box-shadow: none !important;
}
.eh_textinput {
	background-color: white !important;
	border-width: 2px !important;
	border-style: solid !important;
	padding: 4px !important;
}
.eh_login_textinput {
    margin-top: 6px !important;
    border-color: #7cb342 !important;
	width: 280px !important;
	height: 22px !important;
	border-radius: 2px !important;
}
.eh_login_submitbutton {
    margin-top: 10px !important;
	width: 292px !important;
}
.eh_login_checkbox[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #7cb342;
     background-color: #7cb342;
}
.eh_login_checkbox[type="checkbox"].filled-in + label:after{
     border: 2px solid #7cb342;
}
.eh_formlabel_checkbox_span {
	margin-top: -3px;
	display: inherit;
}





.eh_aboutbox div {
    margin-bottom: 30px;
}

.eh_aboutbox strong {
    font-weight: bold;
}

.eh_aboutbox h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
}





#settingsbox div {
    padding: 20px 15px 15px 15px;
    margin: 5px;
    border-radius: 2px;
}
#settingsbox span {
    font-size: 16px;
}
#settingsbox input[type="text"] {
    height: 20px;
    margin-top: 10px;
    color: black;
    border-color: #7cb342;
    width: calc(100% - 14px);
}

#settingsdescbox strong {
    font-weight: bold;
}
#settingsdescbox p {
    font-weight: bold;
    color: navy;
    margin: 0px 0px 20px 0px;
}
#settingsdescbox span {
    font-weight: bold;
    color: navy;
}





#dbgwarningbox {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    white-space: pre-line;
    text-align: right;
}

